<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application
    android:name="com.swmansion.detour.example.deferred.DetourDeferredApp"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.DetourAndroidSDK">

    <activity
      android:name="com.swmansion.detour.example.deferred.MainActivity"
      android:exported="true"
      android:theme="@style/Theme.DetourAndroidSDK.Splash">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="detour-deferred-only-example-app" />
      </intent-filter>
      <!-- PASTE YOUR DASHBOARD LINK CONFIGURATION HERE -->
    </activity>

    <activity
      android:name="com.swmansion.detour.example.deferred.DeepLinkDestinationActivity"
      android:exported="false"
      android:parentActivityName="com.swmansion.detour.example.deferred.MainActivity"
      android:theme="@style/Theme.DetourAndroidSDK" />

  </application>

</manifest>
